/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
h1 { color:green; }

#map {
  height: 100%;
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#subMenu{
  width: 100%;
  text-align: left;
}

.timerTitle{
  float: left;
  width: 30%;
  padding: 10px;
}

.scoreTitle{
  float: left;
  width: 30%;
  padding: 10px;
}

.hintsTitle{
  float: left;
  width: 25%;
  padding: 10px;
}
