/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
h1 { color:green; }

#map {
  height: 550px;
  width: 1100px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#subMenu{
  width: 100%;
  height: 15px;
}

.timerTitle{
  float: left;
  width: 25%;
  padding: 2px;
}

.hintsTitle{
  float: left;
  width: 25%;
  padding: 2px;
}
.requestHint{
  float: left;
  width: 40%;
  padding: 2px;
}

.foundLocTitle{
  float: left;
  width: 90%;
  padding: 2px;
}